h1{
    color: #6E2C00;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

  
.formulario p {
  text-align: left;
}
  
/* color a etiquetas de inputs */
.formulario label {
  font-size: 22px;
  color: black;
}

.formulario{
    border-color: #6E2C00;
    background-color: blanchedalmond;
    border-width: 10px;
    border-style: double;    
    margin-bottom: 20px;
}

#nombre{
    width: 80%;
}

#apellidos{
    width: 80%;
}

#mandar{
    margin-left: 20px;
    margin-bottom: 20px;
}

textarea{
  resize: none;
}


/* se esconden los botones de radios */
input[type="radio"] {
  display: none;
}
  
/* se da el color gris a las estrellas */
.clasificacion label {
  color: gray;
  font-size: 35px;
}
  
  /* aparece los elementos en la pantalla */
.clasificacion {
   direction: rtl;
   unicode-bidi: bidi-override;
 }
  
/* efecto hover para las estrellas */
label:hover,
label:hover ~ label {
   color: orange;
}

.form-label:hover{
  color: #6E2C00;
}
  
/* se colorean las estrellas a naranja */
input[type="radio"]:checked ~ label {
  color: orange;
}

#fecha{
  background-color: #c3c3c3;
  border-color: #c3c3c3;
  border-width: 2px;
  border-style: solid;  
}

/* diseño de contenedor */
#nombre-com{
  border-color: black;
  background-color: #ead1cc;
  border-width: 2px;
  border-style: solid;    
}

#nombre-com{
  font-size: 20px;
}

#puntuacion-com img{
  margin-bottom: 3px;
}

#comentario-com{
  font-size: 20px;
}

.card-body{
  border-color: black;
  background-color: #ead1cc;
  border-width: 0px 1px 1px 1px;
  border-style: solid;    
}

#fecha{
  border-color: black;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
}

.titulo-comentarios{
  color: #6E2C00;
  font-size: 40px;
  margin-top: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  text-align: center;
}

.separacion-1{
  width: 100%;
  height: 8px;
  margin-top: 50px;
  background-color: rgb(174, 96, 96);
}

.soporte:link ,.soporte:active{
  text-decoration: none;
  color: white;
}

.boton{
  border-radius: 7px;
  border: 1px;
  background-color: #6E2C00;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}

.boton a{
  color: white;
}

.boton:hover{
  background-color: #f58b45;
  border-color: #f58b45;
  font-weight: bolder;
  transition: 1s;
  color: black;
}
