* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: #6E2C00;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.contacto{
    border-color: #6E2C00;
    background-color: blanchedalmond;
    border-width: 10px;
    border-style: double;    
}

.contacto p{
    margin-left: 10px;
}

.telefono{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.correo{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.correo a:link ,a:active{
    text-decoration: none;
    color: black;
}

.ubicacion{
    font-size: 20px;
    color: black;
}

.whats{
    font-size: 20px;
    font-weight: bold;
}

.whats a:link ,a:active{
    text-decoration: none;
    color: black;
}

.contacto img{
    margin-right: 10px;
}

.link-whats:hover{
    margin-left: 10px;
    transition: 1s;
}

.link-correo:hover{
    margin-left: 10px;
    transition: 1s;
}

.soporte:link ,.soporte:active{
    text-decoration: none;
    color: white;
  }