* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: #6E2C00;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: center;
}

.separacion-1{
    height: 8px;
    width: 90%;
    margin-top: 10px;
    background-color: rgb(174, 96, 96);
}

.separacion-2{
    height: 8px;
    margin-left: 10%;
    margin-bottom: 10px;
    width: 90%;
    margin-top: 10px;
    background-color: rgb(174, 96, 96);
}

.separacion-3{
    height: 8px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(174, 96, 96);
}

.page-header{
    color: #6E2C00;
    font-style: italic;

}

#somos{
    border-width: 5px;
    border-color: #6E2C00;
    border-style: double;
    padding-right: 1px;
}

.prom{
    list-style: none;
}

#promocion{
    background-color: white;
    margin: auto;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#promocion{
    border-width: 10px;
    border-color: black;
    border-radius: 50px;
    border-style: solid;
}
.promo{
    border-width: 5px;
    border-color: white;
    border-radius: 50px;
    border-style: solid;
    background-color: black;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

#promocion .porcentaje{
    color: white;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: -50px;
}

#promocion .descuento{
    color: white;
    font-weight: bold;
    font-size: 70px;
}


#promocion .codigo{
    color: white;
    font-size: 35px;
}



h2{
    color: #6E2C00;
    font-style: italic;
}

h3{
    color: #6E2C00;
    font-style: italic;
    text-align: center;
}

.inicio{
    font-size: 24px;
    text-align: justify;
}

.somos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 259px;
}

.boton{
    border-radius: 7px;
    border: 1px;
    background-color: #6E2C00;
}

.boton a{
    color: white;
}

.boton a:hover{
    background-color: #f58b45;
    transition: 1s;
    font-weight: bold;
    color: black;
}

.soporte:link ,.soporte:active{
    text-decoration: none;
    color: white;
  }

@media screen and (max-width: 1007px) {
    .prom{
        list-style: none;
    }
    
    #promocion{
        background-color: white;
        margin: auto;
        width: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #promocion{
        border-width: 10px;
        border-color: black;
        border-radius: 50px;
        border-style: solid;
    }
    .promo{
        border-width: 5px;
        border-color: white;
        border-radius: 50px;
        border-style: solid;
        background-color: black;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        margin-right: 15px;
    }
    
    #promocion .porcentaje{
        color: white;
        font-weight: bold;
        font-size: 50px;
        margin-bottom: -20px;
        margin-left: -20px;
    }
    
    #promocion .descuento{
        color: white;
        font-weight: bold;
        font-size: 40px;
        margin-left: -10px;
    }
    
    
    #promocion .codigo{
        color: white;
        font-size: 30px;
        margin-left: -10px;
    }
}

@media screen and (max-width: 450px) {
    .prom{
        list-style: none;
    }
    
    #promocion{
        background-color: white;
        margin: auto;
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .promo{
        border-width: 5px;
        border-color: white;
        border-radius: 50px;
        border-style: solid;
        background-color: black;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        margin-right: 15px;
    }
    
    #promocion .porcentaje{
        color: white;
        font-weight: bold;
        font-size: 60px;
        margin-bottom: -20px;
    }
    
    #promocion .descuento{
        color: white;
        font-weight: bold;
        font-size: 25px;
    }
    
    #promocion .codigo{
        color: white;
        font-size: 25px;
    }
}
